# Archivos de entorno y configuración
# Ignora las variables de entorno para proteger claves sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependencias del proyecto
# Ignora las carpetas de dependencias
/node_modules
/venv
__pycache__/

# Archivos de depuración y logs
*.log
npm-debug.log*

# Archivos específicos del IDE (como VS Code)
.vscode/

# Archivos generados por el build
/build
/dist
/public/build
/functions/node_modules
/functions/lib

# Archivos de Firebase
.firebase/
firebase-debug.log
firestore-debug.log
serviceAccountKey.json