# Archivos de entorno y configuración
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.yaml

# Dependencias del proyecto
/node_modules
/venv
__pycache__/

# Archivos de depuración y logs
*.log
npm-debug.log*
firebase-debug.log
firestore-debug.log

# Archivos específicos del IDE (como VS Code)
.vscode/

# Archivos generados por el build
/build
/dist
/public/build
/functions/node_modules
/functions/lib
/firebase/lib
/firebase/functions/lib

# Archivos de Firebase
.firebase/
serviceAccountKey.json