# Ignorar logs de depuración y errores
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Ignorar directorios y archivos de dependencias
node_modules/
venv/
bower_components/
*.tgz
.yarn-integrity

# Ignorar archivos compilados y de caché
__pycache__/
*.pyc
lib-cov/
coverage/
.nyc_output/
build/Release/
.npm/
.eslintcache/
.node_repl_history

# Ignorar archivos de configuración y credenciales
.env
.grunt/
.firebaserc
.firebase/
serviceAccountKey.json # ¡CRÍTICO! Nunca subas tu clave privada
.dataconnect/

# Ignorar archivos de tiempo de ejecución
pids/
*.pid
*.seed
*.pid.lock

# Ignorar archivos de Visual Studio Code y macOS
.vscode/
.DS_Store